<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <section layout:fragment="content">
        <form method="post" th:object="${student}" th:action="@{/student}" enctype="multipart/form-data">
            <h3>QUẢN LÍ SINH VIÊN</h3>
            <div >Chọn hình ảnh</div>
            <input type="file"/>
        </br>
            <img src="/images/thai.jpg"  width="200px">
            <img src="/images/khoa.jpg"  width="200px">
            <img src="/images/khoi.jpg"  width="200px">
            <img src="/images/bao.jpg"  width="200px">
            <img src="/images/thanh.jpg"  width="200px">
            <div>Nhóm</div>
            <input th:field="*{group}" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('group')}" th:errors="*{group}"></div>
            <div>Lớp</div>
            <input th:field="*{classes}" name="classes" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('classes')}" th:errors="*{classes}"></div>
            <div>Chuyên Ngành</div>
            <select th:field="*{major}">
                <option value="Công nghệ phần mềm">Công nghệ phần mềm</option>
                <option value="Hệ thống thông tin">Hệ thống thông tin</option>
                <option value="Bảo Mật Thông Tin">Bảo Mật Thông Tin</option>
                
            </select>
            </br>
            <div>Môn học</div>
            <input th:field="*{subject}" name="subject" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
            <div>Điểm</div>
            <input th:field="*{grade}" value="1" type="number" name="grade" />
            <div class="alert alert-warning" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></div>
            </br>
            </br>   
            <button type="submit">Thêm</button>
            <button>Xoá</button>
            <button>Sửa</button>
            <button>Cập nhật</button>
        </form>
    </section>
</body>

</html>