<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <section layout:fragment="content">
        <table class="table table-hover">
            <tr>
                <th>Mã NV</th>
                <th>Tổng thành tích</th>
                <th>Tổng kỷ luật</th>
                <th>Tổng kết</th>
            </tr>
            <th:block th:each="s: ${staffs}">
                <tr>
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.report.plus}"></td>
                    <td th:text="${s.report.minus}"></td>
                    <td th:text="${s.report.total}"></td>
                </tr>
            </th:block>
        </table>
    </section>
</body>

</html>